body {
    margin: 0;
    background-color: black;
    color: #39ff14;
}

.flex {
    display: flex;
    align-items: center;
    padding: 0px 16px;
}

#header {
    height: 5rem;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 900;
}

#username-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
}